h1{
    color: rgb(8, 55, 105) ; 
    font-size: 60px
}
h2 {
    color:rgb(255, 178, 11);
    margin-left: 20px;
}
h3{
    color:rgb(1, 55, 105);
    margin-left: 40px;
    font-size: 30px;
}
img{
    width:"100%"
}