h1{
    color: rgb(150, 1, 1);
    border-left: 6px solid rgb(175, 1, 1); 
}
table{
    border: 2px solid rgb(175, 1, 1);
    border-collapse: collapse;
    width: 46%;
}
td{
    border: 2px solid rgb(1, 1, 175);
    background-color: antiquewhite;
    padding: 5px 35px;
}
th{
    border: 2px solid rgb(1, 175, 1);
    background-color: aliceblue;
    padding: 5px;
    width: 10%
}