.estatico {
    margin: 10px;
    width: 200px;
    height: 50px;
    background-color: lightblue;
    position: static;
}

.relativo {
    width: 200px;
    height: 50px;
    background-color: lightgreen;
    position: relative;
    top: 20px;
    left: 25px;
}

.absoluto {
    width: 100px;
    height: 50px;
    background-color: salmon;
    position: absolute;
    top: 10px;
    right: 10px;
}

.fixo {
    width: 100px;
    height: 50px;
    background-color: lightgray;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.sticky { 
    position: sticky; 
    top: 0; /* Fica "preso" no topo após rolar */ 
    background-color: yellow; 
    padding: 10px; }
